<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <hr>

  <h2>
    Our Belize Bank Web Service returned a status of <i>{{status}}</i> and a message of <i>{{message}}</i>
  </h2>

  <hr>

  <h3><strong>Your account number is:</strong> {{account}}</h3>
  
  <hr>

  <p>The Current Balance for Account ({{account}}) is: {{balance | currency}}</p> 

  <hr>

  <p>Balance after Withdrawal is: {{withdrawBalance | currency}}</p>

  <hr>

  <p>Balance after Deposit is: {{depositBalance | currency}}</p>

  